<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>{% block title %} Password Reset {% endblock %}</title>
  </head>
  <body>
    <div class="container p-3 my-3">
      <div class="row">
        <div class="col-md-12">
          <div class="form-content my-3 p-3">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-5 border border-dark">
                  
                  <div class="card shadow-lg border-0 rounded-lg mt-3 mb-3">
                    <div
                      class="card-header justify-content-center"
                      style="background-color: #92b4f4"
                    >
                      <h3 class="font-weight-light my-4 text-center">
                        Réinitialiser le Mot de passe
                      </h3>
                    </div>
                    {% if form.errors %}
                    <div
                      class="alert alert-danger alert-dismissible"
                      role="alert"
                    >
                      <div id="form_errors">
                        {% for key, value in form.errors.items %}
                        <strong>{{ value }}</strong>
                        {% endfor %}
                      </div>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    {% endif %}

                    <div class="card-body">
                      <form method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                          <div class="col-md-10 offset-md-1">
                            <div class="form-group">
                              <label class="small mb-1" for="id_new_password1"
                                >Nouveau Mot de passe</label
                              >
                              <input
                                type="password"
                                name="new_password1"
                                autocomplete="new-password"
                                class="form-control"
                                required
                                id="id_new_password1"
                                placeholder="Entrer Mot de passe"
                              />
                              <span> </span>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-md-10 offset-md-1">
                            <div class="form-group">
                              <label class="small mb-1" for="id_new_password2">
                                Confirmation Mot de passe
                              </label>
                              <input
                                type="password"
                                name="new_password2"
                                autocomplete="new-password"
                                required
                                id="id_new_password2"
                                class="form-control"
                                placeholder="Confirmer Mot de passe"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-md-10 offset-md-1">
                            <div class="form-group mt-0 mb-1">
                              <button
                                type="submit"
                                class="col-md-12 btn btn-dark"
                                id="reset"
                                style="background-color: #4472ca"
                              >
                                Réinitialiser
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
